div.speed-section
    section-header(
        title="Fast",
        text="Vapor is fast by every meaning of the word. Fast to get started, fast to deploy, fast to respond."
    )

    div.benchmark

    span.comment Plaintext responses per second. Data from <a target="_blank" href="https://medium.com/@qutheory/server-side-swift-vs-the-other-guys-2-speed-ca65b2f79505#.8i5f9zmm2">Server Side Swift vs. The Other Guys — 2: Speed</a>. From left: Rails, Laravel, Lumen, Django, Flask, Nancy, Spring, Node, Vapor. Non-framework results omitted. 

    big-button()