dark-accent = #94A9D1
light-accent = #F6CFCF

tablet = 768px
laptop = 1280px
desktop = 1920px

div.speed-section
    text-align: center

    div.section-header
        margin: 0 auto
        margin-bottom: 48px
        max-width: 400px

    div.big-button
        display: inline-block
        position: relative
        text-align: center
        margin-bottom: 48px
    
    div.benchmark
        //appearance
        background: #fbfbfb
        background-image: url('/images/benchmark.png')
        background-size: cover
        border-radius: 10px
        box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.1)
        

        position: relative
        margin: 0 auto
        
        width: 250px
        height: 186px
        margin-bottom: 24px

        @media screen and (min-width: tablet)
            width: 500px
            height: 373px
    
    span.comment
        display: block
        padding: 0 24px
        width: 250px
        margin: 0 auto
        line-height: 18px
        margin-bottom: 48px
        
        @media screen and (min-width: tablet)
            width: 80%
            max-width: 400px
        
        //font
        text-align: center
        font-size: 12px
        font-weight: 300
        color: #aaa

    a
        color: dark-accent
        text-align: center
        text-decoration: none

        border-bottom: 1px dotted
        
        &:hover
            color: light-accent