div.speed-section
    section-header(
        title="Fast",
        text="Vapor is fast by every meaning of the word. Fast to get started, fast to deploy, fast to respond."
    )

    div.benchmark
        span Benchmarks Coming Soon

    big-button()