dark-accent = #94A9D1
light-accent = #F6CFCF

tablet = 768px
laptop = 1280px
desktop = 1920px

div.safety-section
    padding: 24px 0
    
    div.section-header
        margin-bottom: 36px

    div.code-block
        background: #FBFBFB

        //appearance
        border-radius: 10px
        box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.1)
        
        //size
        width: 250px
        padding: 15px

        //position
        margin: 0 auto
        margin-bottom: 12px

    h3
        margin: 0
        margin-bottom: 12px
        padding: 0 24px
        
        text-align: center
        font-size: 12px
        font-weight: 300
        color: #333

    span.comment
        display: block
        margin-bottom: 36px
        padding: 0 24px
        
        //font
        text-align: center
        font-size: 12px
        font-weight: 300
        color: #999