div.splash
	main-nav

	div.hero
		div.logo
			h1 Vapor
		span A Web Framework for Swift

	big-button(
		href="/install", 
		icon="/images/swift.png",
		@click="install()"
	) Install

	div.arrow &darr;