dark-accent = #94A9D1
light-accent = #F6CFCF

tablet = 768px
laptop = 1280px
desktop = 1920px

@keyframes bounce
    0%
        transform: translateY(0)
    50%
        transform: translateY(-10px)
    100%
        transform: translateY(0)

div.splash
    //size
    height: 100%
    
    //position
    position: relative

    div.big-button, div.main-nav, div.arrow, div.hero
        //position
        position: absolute
        transform: translateX(-50%)
        left: 50%
        
    div.hero
        //position
        text-align: center
        top: 50%
        transform: translateY(-70%) translateX(-50%)
        
        //font
        color: #444
        font-family: 'Quicksand', sans-serif
        font-weight: 500
        
        div.logo
            //size
            padding-left: 60px
            
            //appearance
            background: url('/images/logo.svg')
            background-repeat: no-repeat
            background-size:  60px auto
            background-repeat: center
            
            @media screen and (min-width: tablet)
                padding-left: 80px
                background-size:  80px auto

            h1
                //position
                margin: 0
                
                //font
                font-size: 60px

                @media screen and (min-width: tablet)
                    font-size: 80px
            
                font-weight: 300
                text-transform: uppercase
                
        span
            color: #999
        
    
    div.main-nav
        //position
        top: 36px
        
        @media screen and (min-width: tablet)
            top: 50px
        
    div.big-button
        //position
        bottom: 70px
        
        @media screen and (min-width: tablet)
            bottom: 100px
        
    div.arrow
        //position
        bottom: 10px
        text-align: center
        width: 50px
        text-align: center
        margin-left: -25px
        
        //font
        color: dark-accent        
        font-size: 20px
        
        //animation
        animation: bounce 2s infinite
        
    