dark-accent = #94A9D1
light-accent = #F6CFCF

div.main-nav
    //size
    max-width: 400px
    width: 100%
    
    //position
    display: flex
    
    a
        //size
        width: 25%
        
        //font
        color: dark-accent
        font-family: 'Quicksand', sans-serif
        text-align: center
        text-decoration: none
        
        &:hover
            color: light-accent
    
    