div.main-nav
	a(href="http://github.com/qutheory/vapor/wiki") Docs
	a(href="http://example.qutheory.io") Example
	a(href="https://github.com/qutheory/vapor") GitHub
	a(href="http://slack.qutheory.io") Slack
