div.main-nav
	a(href="http://docs.vapor.codes") Docs
	a(href="http://example.vapor.codes") Example
	a(href="https://github.com/vapor/vapor") GitHub
	a(href="https://twitter.com/codevapor") Twitter
	a(href="http://vapor.team") Slack

a.sponsor(href="http://nodesagency.co.uk")
	p Proudly sponsored by
	img(src="/images/nodes.png")