dark-accent = #94A9D1
light-accent = #F6CFCF

tablet = 768px
laptop = 1280px
desktop = 1920px

div.main-nav
    //size
    max-width: 400px
    width: 90%
    
    //position
    display: flex
    justify-content: space-around
    
    a
        
        //font
        color: dark-accent
        font-family: 'Quicksand', sans-serif
        font-size: 14px
        text-align: center
        text-decoration: none

        border-bottom: 1px dotted

        @media screen and (min-width: tablet)
            font-size: 16px
        
        &:hover
            color: light-accent
    
    
a.sponsor
    position: fixed
    
    top: 50%
    left: 50%
    margin-left: -72px
    margin-top: 50px
    opacity: 0.75
    width: 144px
    text-align: center
    
    img
        width: 72px
    
    &:hover
        opacity: 1

    @media screen and (min-width: tablet)
        font-size: 16px
        top: auto
        left: auto
        margin: 0
        bottom: 24px
        right: 24px
        width: 144px
        img
            width: 90%
        
    text-decoration: none
    color: #999
    
    p
        display: none
        @media screen and (min-width: tablet)
            display: block
            
        font-family: 'Quicksand'
        font-size: 12px
        text-align: center
    
