@charset "UTF-8";
* {
  box-sizing: border-box; }

@keyframes popIn {
  from {
    transform: translate(0px, 24px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes popDown {
  from {
    transform: translate(0px, -24px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }
body {
  padding: 0;
  margin: 0;
  font-family: -webkit-system-font, "Helvetica", sans-serif; }

div.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  position: relative; }

header.main {
  background: linear-gradient(#92A8D1, #F7CAC9);
  position: relative;
  overflow: hidden;
  z-index: 9;
  height: 420px; }
  @media screen and (min-width: 768px) {
    header.main {
      height: 648px; } }
  header.main #smoke {
    position: relative; }
    header.main #smoke canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; }
  header.main div.wrapper {
    position: relative;
    z-index: 2;
    height: 100%; }
  header.main nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: popDown 0.5s ease forwards;
    width: 100%;
    padding: 24px;
    font-family: "Quicksand";
    text-align: center; }
    @media screen and (min-width: 768px) {
      header.main nav {
        text-align: left; } }
    header.main nav a.toggle {
      position: absolute;
      top: 28px;
      right: 26px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      color: white;
      text-decoration: none;
      opacity: 0.75; }
      header.main nav a.toggle.hide {
        display: none;
        font-weight: 700;
        font-size: 19px; }
      header.main nav a.toggle.show {
        font-size: 14px;
        display: block; }
      header.main nav a.toggle.open.hide {
        display: block; }
      header.main nav a.toggle.open.show {
        display: none; }
      header.main nav a.toggle:hover {
        opacity: 1; }
      @media screen and (min-width: 768px) {
        header.main nav a.toggle {
          display: none !important; } }
    header.main nav a.logo {
      display: inline-block;
      background-image: url("/images/droplet-white.svg");
      background-repeat: no-repeat;
      height: 48px;
      padding-left: 36px;
      text-decoration: none;
      color: white;
      background-size: 32px;
      background-position: 0px 1px; }
      header.main nav a.logo h1 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 36px;
        padding: 0;
        margin: 0;
        top: -1px;
        position: relative; }
    header.main nav ul {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 32px;
      left: 32px;
      top: 72px;
      display: none; }
      header.main nav ul.open {
        display: flex;
        background: white;
        flex-wrap: wrap;
        border-radius: 6px;
        padding: 6px;
        justify-content: center; }
        header.main nav ul.open a {
          color: #92A8D1; }
          header.main nav ul.open a:hover {
            color: #F7CAC9; }
      @media screen and (min-width: 768px) {
        header.main nav ul {
          display: block;
          top: 28px;
          left: auto;
          background: none;
          height: 36px; } }
      header.main nav ul a {
        font-size: 16px;
        display: block;
        text-decoration: none;
        color: white;
        text-transform: lowercase;
        padding: 0 8px;
        color: #eee; }
        header.main nav ul a:hover {
          color: #fff; }
      header.main nav ul li {
        display: inline-block;
        line-height: 36px; }
  header.main h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Quicksand";
    font-weight: 500;
    opacity: 0;
    animation: popIn 0.5s ease forwards;
    animation-delay: 0s;
    font-size: 20px;
    padding: 0 12px;
    bottom: 248px; }
    @media screen and (min-width: 768px) {
      header.main h2 {
        top: 156px;
        font-size: 36px; } }
  header.main div.action {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: popIn 0.5s ease forwards;
    animation-delay: 0.25s;
    bottom: 204px; }
    @media screen and (min-width: 768px) {
      header.main div.action {
        top: 264px; } }
    header.main div.action a.button {
      position: relative;
      display: inline-block;
      height: 36px;
      width: 120px;
      margin: 0 12px;
      font-size: 14px;
      line-height: 36px;
      text-decoration: none;
      border: none;
      outline: none;
      border-radius: 24px;
      box-shadow: 0px 4px 0px 0px #ddd;
      cursor: pointer;
      background: white;
      color: #888;
      font-family: "Quicksand";
      text-align: left; }
      @media screen and (min-width: 768px) {
        header.main div.action a.button {
          width: 180px;
          height: 48px;
          margin: 0 24px;
          font-size: 20px;
          line-height: 48px; } }
      header.main div.action a.button.swift {
        padding-left: 56px; }
        @media screen and (min-width: 768px) {
          header.main div.action a.button.swift {
            padding-left: 78px; } }
        header.main div.action a.button.swift::after {
          top: 8px;
          background-image: url("/images/swift-bird.png"); }
      header.main div.action a.button.tutorial {
        padding-left: 48px; }
        @media screen and (min-width: 768px) {
          header.main div.action a.button.tutorial {
            padding-left: 70px; } }
        header.main div.action a.button.tutorial::after {
          top: 10px;
          background-image: url("/images/grad-cap.png"); }
          @media screen and (min-width: 768px) {
            header.main div.action a.button.tutorial::after {
              top: 12px; } }
      header.main div.action a.button::after {
        position: absolute;
        content: "";
        background-size: 100%;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        left: 10px;
        opacity: 0.15; }
        @media screen and (min-width: 768px) {
          header.main div.action a.button::after {
            left: 16px;
            height: 36px;
            width: 36px; } }
      header.main div.action a.button:hover {
        color: #F7CAC9;
        box-shadow: 0px 4px 0px 0px #F7CAC9; }
        header.main div.action a.button:hover.swift::after {
          opacity: 0.8;
          background-image: url("/images/swift-bird-pink.png"); }
        header.main div.action a.button:hover.tutorial::after {
          opacity: 0.8;
          background-image: url("/images/grad-cap-pink.png"); }
      header.main div.action a.button:active {
        top: 4px;
        box-shadow: none; }
  header.main div.window {
    position: absolute;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    background-size: 300px auto;
    bottom: -6px;
    opacity: 0;
    animation: popIn 0.5s ease forwards;
    animation-delay: 0.5s;
    background-image: url("/images/window.png");
    background-repeat: no-repeat;
    padding: 0 12px;
    padding-top: 12px; }
    @media screen and (min-width: 768px) {
      header.main div.window {
        top: 360px;
        margin-left: -360px;
        width: 720px;
        height: 500px;
        background-size: 720px auto; } }
    @media screen and (min-width: 768px) {
      header.main div.window {
        padding: 0 24px;
        padding-top: 48px; } }
    header.main div.window pre {
      margin: 0; }
      header.main div.window pre code {
        padding: 0;
        margin: 0;
        font-family: "Source Code Pro";
        font-size: 12px; }
        @media screen and (min-width: 768px) {
          header.main div.window pre code {
            font-size: 16px; } }

div.content {
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }
  div.content section.features {
    width: 100%;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      div.content section.features {
        padding: 36px; } }
    div.content section.features article {
      width: 100%;
      padding: 36px 0; }
      @media screen and (min-width: 768px) {
        div.content section.features article {
          width: 32%;
          padding: 36px; } }
      div.content section.features article h3 {
        font-weight: 500;
        font-family: "Quicksand";
        font-size: 24px;
        text-align: center;
        margin: 0; }
        @media screen and (min-width: 768px) {
          div.content section.features article h3 {
            font-size: 36px; } }
      div.content section.features article p {
        text-align: center;
        margin: 0;
        margin-top: 12px;
        font-size: 16px;
        line-height: 24px;
        color: #626262; }
  div.content div.dark {
    background: #eee;
    width: 100%; }
  div.content section.partners {
    display: flex;
    position: relative;
    flex-wrap: wrap; }
    div.content section.partners h2 {
      margin: 0;
      text-align: center;
      width: 100%;
      font-weight: 500;
      color: #333;
      font-family: "Quicksand";
      padding: 0 24px;
      padding-top: 48px;
      padding-bottom: 12px;
      font-size: 30px; }
    div.content section.partners article {
      width: 50%;
      cursor: pointer;
      transition: opacity 0.1s ease;
      opacity: 0.75;
      padding: 24px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        div.content section.partners article {
          flex: 1; } }
      div.content section.partners article:hover {
        opacity: 1; }
      div.content section.partners article img {
        width: 60%; }
      div.content section.partners article h3 {
        font-weight: 500;
        color: #333;
        font-family: "Quicksand";
        font-size: 18px; }
    div.content section.partners.tools {
      padding-bottom: 36px;
      padding-top: 12px; }
      div.content section.partners.tools article img {
        width: 50%; }
  div.content section.contact {
    display: flex;
    position: relative;
    padding-top: 36px;
    flex-wrap: wrap; }
    div.content section.contact article {
      width: 100%;
      padding: 12px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        div.content section.contact article {
          flex: 1;
          padding: 36px; } }
      div.content section.contact article a {
        display: block;
        text-decoration: none;
        transform: scale(0.9, 0.9);
        opacity: 0.9;
        transition: transform 0.1s, opacity 0.1s; }
        div.content section.contact article a:hover {
          transform: scale(1);
          opacity: 1; }
      div.content section.contact article .img {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        background: #92A8D1;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat; }
        div.content section.contact article .img.docs {
          background-image: url("/images/docs.png"); }
        div.content section.contact article .img.slack {
          background-image: url("/images/slack.png"); }
        div.content section.contact article .img.so {
          background-image: url("/images/so.png"); }
      div.content section.contact article h3 {
        font-weight: 500;
        color: #333;
        font-family: "Quicksand";
        font-size: 18px; }

footer {
  background: #333;
  color: #ccc;
  text-align: center;
  font-family: "Quicksand";
  padding: 36px 0; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      display: block;
      padding-bottom: 18px; }
      footer ul li:last-child {
        padding-bottom: 0; }
      @media screen and (min-width: 768px) {
        footer ul li {
          padding-bottom: 0;
          position: relative;
          display: inline-block; }
          footer ul li::after {
            content: "•";
            position: absolute;
            right: -9px;
            top: 0;
            width: 10px;
            height: 10px; }
          footer ul li:last-child::after {
            display: none; } }
      footer ul li a {
        text-decoration: none;
        color: #ccc;
        padding: 0 18px;
        transition: color 0.1s; }
        footer ul li a:hover {
          color: white; }
  footer span {
    display: block;
    padding-top: 36px;
    font-size: 12px;
    color: #888; }

/*# sourceMappingURL=app.css.map */
