dark-accent = #94A9D1
light-accent = #F6CFCF

tablet = 768px
laptop = 1280px
desktop = 1920px

div.section-header
    text-align: center
    
    h2.title
        color: #605F5F
        font-family: 'Quicksand', sans-serif
        font-size: 24px
        letter-spacing: 0.5px
        font-weight: 700
        margin: 0
        margin-bottom: 12px

    p.text
        color: #777
        font-size: 14px
        margin: 0
        padding: 0 24px
        line-height: 20px
    
    