@import 'src/variables';

@mixin button {
  display: inline-block;
  color: white;
  background-color: $color-blue;
  padding: 0 1em;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  user-select: none;
  transition: background-color 1ms cubic-bezier(.25, .8, .5, 1);

  &:hover {
    background-color: lighten($color-blue, 5%);
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'desktop' {
    @media (min-width: 1051px) {
      @content;
    }
  }

  @if $breakpoint == 'laptop' {
    @media (max-width: 1050px) {
      @content;
    }
  }

  @if $breakpoint == 'tablet' {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == 'phone' {
    @media (max-width: 420px) {
      @content;
    }
  }
}
