$color-blue: #00B0FF;
$color-red: #FE625D;
$color-yellow: #FFC146;
$color-green: #2FC950;
$color-gray: #9b9b9b;
$color-dark-gray: #4A4A4A;

$color-code-keyword: #EA80FC;
$color-code-type: #80D8FF;
$color-code-method: $color-code-type;
$color-code-string: #FF80AB;
