div.style-section
    section-header(
        title="Beautifully Simple",
        text="Web development has never been this elegant."
    )

    div.editor
        code-block.
            import <div class="code-hint" data-title="You only need one import."><span class="module">Vapor</span></div>

            let app = Application()

            app.<div class="code-hint" data-title="Matches all GET requests">get</div>(<div class="code-hint" data-title="Matches requests to the root domain.">"/"</div>) {
                return "<div class="code-hint" data-title="Any data structure that conforms to Response Representable can be returned in a route closure.">Hello, world.</div>"
            }

            app.start()