div.style-section
    section-header(
        title="Beautifully Simple",
        text="Web development has never been this elegant."
    )

    div.editor
        code-block.
            import <div class="code-hint" data-title="You only need one import."><span class="module">Vapor</span></div>

            let drop = <div class="code-hint" data-title="Droplet has everything you need (SHA2 Hashing, Session, Config, etc) and you can easily extend it.">Droplet</div>()

            drop.<div class="code-hint" data-title="Matches all GET requests">get</div>(<div class="code-hint" data-title="Matches requests to the root domain.">"/"</div>) { request in
                return "<div class="code-hint" data-title="Any data structure that is Response Representable can be returned.">Hello, world.</div>"
            }

            drop.<div class="code-hint" data-title="Boots your server and starts accepting request.">serve</div>()

    span.code-block-tutorial Hint: Hover over the underlined code to learn more.
