dark-accent = #94A9D1
light-accent = #F6CFCF

tablet = 768px
laptop = 1280px
desktop = 1920px

div.style-section
    padding: 24px 0

    div.editor
        margin: 0 auto
        margin-top: 24px
        position: relative
        
        width: 320px
        max-width: 760px
        background: url('/images/sublime.png')
        background-size: 100%
        background-repeat: no-repeat
        height: 120%

        @media screen and (min-width: tablet)
            width: 760px
        
        pre
            //font
            color: #92A0B9
            font-family: 'Source Code Pro', monospace
            font-size: 10px
            
            //position
            position: absolute
            top: 45px
            left: 51px
            
            @media screen and (min-width: tablet)
                font-size: 14px
                top: 110px
                left: 124px

            span[title]
                border-bottom: 1px dotted #8BD1CB
                cursor: help

            .module
                color: #EEB979

            .hljs-type
                color: #41B6BD
    
            .hljs-string
                color: #9CC074
            .hljs-keyword
                color: #9F69C4