dark-accent = #94A9D1
light-accent = #F6CFCF

tablet = 768px
laptop = 1280px
desktop = 1920px

div.style-section
    padding: 24px 0

    div.editor
        margin: 0 auto
        margin-top: 24px
        
        width: 320px
        height: 290px
        max-width: 760px
        background: url('/images/sublime.png')
        background-size: 100%
        background-repeat: no-repeat

        @media screen and (min-width: tablet)
            width: 760px
            height: 650px

        
        @media screen and (min-width: tablet)
            div.code-block
                margin-left: 56px
                margin-right: 57px
                height: 520px
        
        pre
            //position
            margin-top: 52px
            margin-left: 51px
            
            @media screen and (min-width: tablet)
                margin-top: 120px
                margin-left: 67px
                

    span.code-block-tutorial
        //font
        font-family: -webkit-system-font, sans-serif
        text-align: center
        font-size: 12px
        font-weight: 300
        font-style: italic
        color: #999
        
        //position
        position: relative
        display: block
        top: -30px
        width: 80%
        margin: 0 auto
        
        @media screen and (min-width: tablet)
            top: -50px