name: PR - Closed

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  delete-s3:
    name: Delete S3 Website
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.full_name == 'vapor/website' && github.actor != 'dependabot[bot]' }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.SITE_DEPLOYER_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.SITE_DEPLOYER_ACCESS_KEY_SECRET }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Delete Website Bucket
        uses: brokenhandsio/s3-website-https-pr-action@updates
        with:
          bucket-prefix: "vapor-website-pulls"
          bucket-region: "eu-west-2"
