name: PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Deploy PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Setup CloudFormation linter
        uses: ScottBrenner/cfn-lint-action@v2
      - name: Run CloudFormation linter
        run: cfn-lint -t stack.yml
      - name: Build site
        run: swift run
      - name: Deploy S3 Website
        if: ${{ github.event.pull_request.head.repo.full_name == 'vapor/website' && github.actor != 'dependabot[bot]' }}
        uses: brokenhandsio/s3-website-pr-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.SITE_DEPLOYER_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SITE_DEPLOYER_ACCESS_KEY_SECRET }}
        with:
          bucket-prefix: "vapor-website-pulls"
          folder-to-copy: "./Output"
          bucket-region: "eu-west-2"
          error-document: "error/404/index.html"
          
